body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.auth-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.auth-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  text-align: start;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.auth-button {
  width: 30%;
  background-color: #5271ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
}

.auth-button:hover {
  background-color: #002b80;
}

.auth-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #007bff;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-footer {
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.auth-footer a:hover {
  text-decoration: underline;
}
.error-message {
  color: red;
  background: #ffe6e6;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}