.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #FFFFFF;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 45px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  height: 55px;  
  width: auto;   
  object-fit: contain;
}
.logo a,
.logo Link {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a,
.profile-dropdown a {
  text-decoration: none; 
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links a.active,
.profile-dropdown a.active {
  background-color: #5271FF;
  color: white;
}

/* .nav-links a:hover, .profile-dropdown a:hover {
    color: #000000;
} */ 

.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  font-size: 26px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.logout-button {
  background: none;
  border: none;
  padding: 5px 10px;
  text-align: left;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.logout-button:hover {
  background-color: #5271FF;
  color: white;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #d2cece;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
    border: none;
    background: none;
  }
}
