/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #fdfdfd;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a,
.logo Link {
  text-decoration: none;
  color: black;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a,
.profile-dropdown a {
  text-decoration: none; /* Removes underline */
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Active Tab Highlight */
.nav-links a.active,
.profile-dropdown a.active {
  background-color: #0f88f1;
  color: white;
}

/* Hover Effect
.nav-links a:hover, .profile-dropdown a:hover {
    color: #000000;
} */

/* Profile Dropdown */
.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  font-size: 20px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #d2cece;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
